@use './variables' as *;

// Media queries

@media (max-width: $phone) {
    .wrapper {
        flex-flow: column;

        &.col2 {
            > * {
                flex: 0 0 auto;
                width: 100%;
                flex-flow: column wrap;

                &.textContainer {
                    order: 2;
                }
            }
        }
    }

    .content {
        h2 {
            font-size: 30px;
        }

        a {
            margin-left: auto;
            margin-right: auto;
        }

        form {
            flex-flow: column;
            row-gap: 1rem;

            a {
                width: auto;
            }

            input {
                width: auto;
                text-align: center;
            }
        }
    }

    .textContainer {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    header .mainNav,
    .sidebar {
        display: none; // TODO: add hamburger menu
    }

    header {
        height: 600px;
        background-size: 100%;
        background-position: bottom left -120px;
    }

    .hero {
        justify-content: flex-end;
        margin-top: 100px;
        margin-right: 1.5rem;
        width: auto;

        h1 {
            font-size: 65px;
            flex: 0 0 0;
        }
    }

    .dessert {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 3rem;
        padding-bottom: 2rem;
        flex-flow: column;
    }

    .links {
        flex-flow: column;
        padding-top: 60px;
        padding-bottom: 60px;

        a {
            font-size: 30px;
        }
    }

    .gallery {
        margin: 2rem 1rem;

        .wrapper {
            justify-content: center;
            flex-flow: row;
            column-gap: 0.5rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        li {
            width: 50%;

            img {
                width: 100%;
                display: block;
            }
        }

        li:last-child {
            display: none;
        }
    }

    .mainNav {
        ul {
            justify-content: space-around;
        }

        li {
            margin-left: 0;
            margin-right: 0;
        }
    }

    footer {
        text-align: center;
    }
}