// == VARIABLES ==

// colors
$deepOrange: #E75605;
$darkGrey: #1F2022;
$lightGrey: #EEEEEE;
$white: #fff;

// text style
$mont: 'Montserrat', sans-serif;
$cat: 'Catamaran', sans-serif;

// Media sizes
$phone: 480px;